body{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    background-color: rgba(255, 255, 255, 0.144);
    border-radius: 20px;
    width: 350px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
x
.box div h2{
    color: white;
}

.newpassword{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.newpassword input{
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    outline:none;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-family: serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}
button{
    width: 220px;
    margin-top: 10px;
    padding:8px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color:rgb(25, 153, 115);
    font-weight: 700;
    color: white;
    font-family: serif;
    
}

.newpassword input:hover{
    border: 1px solid gray;
}